.card {
  width: 100%;
  max-width: 300px;

  /* background-color: aqua; */
  padding: 1em;
  background-color: royalblue;
  color: white;
  border-radius: 1em;

  h2{
    text-decoration: none;
    /* color: green; */
  }
}

/* .card__image {
  width: 100%;
  height: auto;
  margin-top: 1rem;
} */
