{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1>Please pick a username to enter the chatroom</h1>
<form action="/login" method="post">
<label>
    Username:
    <input type="text" name="user">
    <button type="submit">login</button>
</label>
</form>

{% endblock %}